.main-content{
    background-color: aquamarine;
    /* height: 1000px;
    width: 100%; */
    display: grid;
    /* grid-column: 2; */
    min-height: 1000px;
    grid-template-columns: 300px 700px;
}
.left-section{
   background-color: gold;
   /* width: 30%; */
   /* height: 1000px; */
}
.right-section{
    width: 90%;
}
.left-content{
    padding: 1rem;
}
.profile-details{

}
.profile-image{
    display: block;
    margin: 0 auto;
    max-width: 100px;
  border: 5px solid white;
  border-radius: 30px;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.02px;
    padding: 0.8px;
    text-align: center;
    color: aliceblue;
}
.desginnation{
    font-size: 1rem;
    text-align: center;
    padding-bottom: 0.5px;
    text-transform: uppercase;
}
.descpription{
    font-size: 075rem;
    text-align: center;
    padding: 1rem;
}
.contact-info{

}
.contact-item{

}
.social-media{

}
li.icon{
    /* size: 1px; */
    width: 1rem;
    height: 2rem;
}